body > .overlay .add h2{
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
}
body > .overlay .add ul li{
    margin-bottom: 40px;
}
body > .overlay .add ul li:last-child{
    text-align: center;
}
body > .overlay .add .tip{
    position: absolute;
    margin-left: 5em;
    padding: 0 1em;
    margin-top: 0.5em;
}

body > .overlay .alert,
body > .overlay .confirm{
    text-align: center;
    padding: 0.6em 1.4em;
}
body > .overlay .alert p,
body > .overlay .confirm p{
    padding-bottom: 1em;
    font-size: 1.2em;
}

body > .overlay .progressBar{
    padding: 1em 4em;
}
body > .overlay .progressBar .loader{
    width: 100px; height: 100px;
}